/*******************************ESTILO GERAL*************************/
*{
	font-family: arial;
	color:white;
}
body{
	margin: 0;
	padding: 0;
}

/****************************ESTILO GERAL DO MENU****************************/
header{
	z-index: 1000;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content:space-between;
	background-color: #1d3f4c;
	width: 100%;
}

/******************************ESTILO DA LOGO**************************/

.logo{
	border-right: 1px solid white;
	display: flex;
	align-items: center;

}
.logo img{
	max-width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}


/*****************************ESTILO DAS OPÇÕES DO MENU***************************/


.menu{	
	display: flex;
	justify-content: center;
	align-items:center;
}
nav ul,nav li{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul{
	display: flex;
}
nav a{
	display: block;
	padding: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	transition:ease-in-out 0.5s;
}

.active{
	background-color: #142d37;
	color: #ffff00;	
}



/*****************************ESTILO DOS ICONES DE MENSGAME E COMPARTILHAMENTO***************************/

.share{
	display: flex;
	align-items: center;
	border-left: 1px solid white;
	max-width: 120px;
}
.share div{
	background-size: cover;
	background-position: center;
	width: 40px;
	height: 40px;
	margin-left:10px;
	margin-right: 10px;
	transition:ease-in-out 0.5s;
}
.mail{
	background-image: url('../img/mail1.png');
}
.share_icon{
	background-image: url('../img/share1.png');
}



/***************************ESTILO GERAL DOS BLOCOS DE INFORMAÇÃO*****************************/

section{
	display: flex;
	height: 100vh;
	width: 100%;
	
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;	
}

.lista{
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.image{
	width: 100%;
	height: 33.33%;
}
.slider{
	display: flex;
	height: 100%;
	flex: 3;
	justify-content: center;
	
}
.slider img{
	width: 100%;
}
.mySlides{
	display: none;
}

.prev,
.next {
	user-select: none;
	line-height: 100vh;
	text-align: center;
	height: 100%;
	position: fixed; 
	transition:all ease-in-out 0.3s;
	background-color:#1d3f4c;
	text-decoration: none;
	cursor: pointer;
  	width: 40px;
  	padding: 16px;
  	font-weight: bold;
  	font-size: 20px;
  	border-radius: 3px;
}
.prev{
	left: 20%;
	background: linear-gradient(to left, rgba(255,0,0,0), #1d3f4c);
}
.next{
	background: linear-gradient(to right, rgba(255,0,0,0), #1d3f4c);
	right: 20%;
}


.blocos_overlay{
	background-color: #142d37;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	transition:ease-in-out 0.3s;
	display: flex;
}



/*********MOVIMENTAÇÕES QUANDO O MOUSE PASSA POR CIMA DA REFERENCIA********/

nav a:hover{
	background-color: #142d37;
	color: #ffff00;
}

.mail:hover{
	background-image: url('../img/mail2.png');
}

.share_icon:hover{
	background-image: url('../img/share2.png');
}

.prev:hover{
	font-size: 30px;
	background: linear-gradient(to left, rgba(255,0,0,0), #142d37);
}
.next:hover {
 	background: linear-gradient(to right, rgba(255,0,0,0), #142d37);
  	font-size: 30px;
}

.blocos_overlay:hover{
	opacity: 0;

}



/***************************ESTILO DO MENU MOBILE*****************************/


#mobile{
	z-index: 100;
	background-color: #1d3f4c;
	width: 100%;
	height: 100vh;
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.menu_mobile{
	display: none;
	width: 40px;
	height: 100%;
}

.mm_line{
	margin: 3px;
	height: 3px;
	background-color: white;
}


/*************************ESTILO ESPECIFICO PARA TABLET*******************************/

@media only screen and (max-width: 778px) and (min-width: 425px){

.container{
	width: 100%;
	flex-direction: column;
}

.lista{
	width: 100%;
	height: 100%;
	flex-direction: row;
}

section{
	display: flex;
	height: 900px;
	width: 100%;
	
}
.slider{
	flex: 2;
}

.image{
	height: 100%;
}
.prev,
.next {
	line-height: 100vh;
  	width: 20px;
}

.prev{
	left: 0;
}
.next{
	right: 0;
}


.menu nav ul{
	display: none;
}

.menu_mobile{
		display: flex;
		flex-direction:column;
		justify-content:space-around;
}


div.slider  {order: 1;}
div#bloco1 {order: 2;}
div#bloco2  {order: 3;}


}


/*************************ESTILO ESPECIFICO PARA CELULAR*******************************/

@media only screen and (max-width: 425px){

.container{
	width: 100%;
	flex-direction: column;
}

.lista{
	width: 100%;
	height: 100%;
	flex-direction: row;
}



.image{
	height: 100%;
}
.prev,
.next {
  	width: 20px;
}

.prev{
	left: 0;
}
.next{
	right: 0;
}


.menu nav ul{
	display: none;
}

.menu_mobile{
		display: flex;
		flex-direction:column;
		justify-content:space-around;
}


div.slider  {order: 1;}
div#bloco1 {order: 2;}
div#bloco2  {order: 3;}


}


